.bg-container {
    background-image: url("/bg.jpg"); 
    background-size: cover;
    background-position: center;
    height: 70dvh;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}